@* @model MiningOps.Entity.ProjectAnalysisReport *@


@* <h4>ProjectAnalysisReport</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Create"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="ReportName" class="control-label"></label> *@
@*                 <input asp-for="ReportName" class="form-control" /> *@
@*                 <span asp-validation-for="ReportName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="CreatedDate" class="control-label"></label> *@
@*                 <input asp-for="CreatedDate" class="form-control" /> *@
@*                 <span asp-validation-for="CreatedDate" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="ProjectName" class="control-label"></label> *@
@*                 <input asp-for="ProjectName" class="form-control" /> *@
@*                 <span asp-validation-for="ProjectName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Description" class="control-label"></label> *@
@*                 <input asp-for="Description" class="form-control" /> *@
@*                 <span asp-validation-for="Description" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TotalBudget" class="control-label"></label> *@
@*                 <input asp-for="TotalBudget" class="form-control" /> *@
@*                 <span asp-validation-for="TotalBudget" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TotalExpenditure" class="control-label"></label> *@
@*                 <input asp-for="TotalExpenditure" class="form-control" /> *@
@*                 <span asp-validation-for="TotalExpenditure" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="RiskLevel" class="control-label"></label> *@
@*                 <input asp-for="RiskLevel" class="form-control" /> *@
@*                 <span asp-validation-for="RiskLevel" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="RiskDescription" class="control-label"></label> *@
@*                 <input asp-for="RiskDescription" class="form-control" /> *@
@*                 <span asp-validation-for="RiskDescription" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="AverageDeliveryRate" class="control-label"></label> *@
@*                 <input asp-for="AverageDeliveryRate" class="form-control" /> *@
@*                 <span asp-validation-for="AverageDeliveryRate" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="AverageQualityRating" class="control-label"></label> *@
@*                 <input asp-for="AverageQualityRating" class="form-control" /> *@
@*                 <span asp-validation-for="AverageQualityRating" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="AverageComplianceScore" class="control-label"></label> *@
@*                 <input asp-for="AverageComplianceScore" class="form-control" /> *@
@*                 <span asp-validation-for="AverageComplianceScore" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TotalSuppliers" class="control-label"></label> *@
@*                 <input asp-for="TotalSuppliers" class="form-control" /> *@
@*                 <span asp-validation-for="TotalSuppliers" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TotalOrders" class="control-label"></label> *@
@*                 <input asp-for="TotalOrders" class="form-control" /> *@
@*                 <span asp-validation-for="TotalOrders" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="TotalPayments" class="control-label"></label> *@
@*                 <input asp-for="TotalPayments" class="form-control" /> *@
@*                 <span asp-validation-for="TotalPayments" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="GeneratedBy" class="control-label"></label> *@
@*                 <input asp-for="GeneratedBy" class="form-control" /> *@
@*                 <span asp-validation-for="GeneratedBy" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Recommendations" class="control-label"></label> *@
@*                 <input asp-for="Recommendations" class="form-control" /> *@
@*                 <span asp-validation-for="Recommendations" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

@* @section Scripts { *@
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
